
.filtrado {
  font-weight: bold;
  font-size: 30px;
  border-radius: 5px;
  width: 1000px;
  background-color: #FEB543;
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espaciado uniforme entre las tarjetas */
  margin: 100px; /* Margen exterior */
}

.card-item {
  background-color: #FEB543;
  width: calc(25% - 50px); /* Ancho del 25% para mostrar 4 tarjetas por fila, teniendo en cuenta el margen */
  margin-bottom: 30px; /* Espaciado entre las tarjetas */
  border: 2px solid black;
  padding: 10px;
}

.mat-icon.middle {
  color: yellow; /* Cambia el color según tus preferencias */
}

.mat-icon.aproved {
  color: green; /* Cambia el color según tus preferencias */
}
.mat-icon.failed {
  color: red; /* Cambia el color según tus preferencias */
}

.button-container {
  display: flex; /* Usa flexbox para organizar los botones */
  gap: 30px; /* Define el espacio entre los botones */
  color: white;
}

.filtros-button {
  display: flex;
  align-items: center;
  background-color: #FEB543;
  width: 200px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}

