
<div style="font-family: 'Poppins', sans-serif;">
  <h1 class="title">{{title}}</h1>
  <ng-container *ngFor="let data of postulaciones;">

    <mat-card class="cards-bordes">
      <div class="Content">
        <div >
          <img [src]="data.UrlImage" alt="" style="width: 80%; height: auto; margin-left: 3.8%;"/>
        </div>
        <div style="margin: auto;">
          <a>Descripcion de la chamba</a><br>
          <a>{{data.Descripcion}}</a>
        </div>
        <div class="DateEnd">
          <a>Desde: </a><br>
          <a>{{data.Fecha_inicio}}</a><br>
          <a>hasta</a><br>
          <a>{{data.Fecha_fin}}</a>
        </div>
      </div>

    </mat-card>
  </ng-container>
</div>
