<mat-card class="cd-custom">
  <div class="p-6">
    <mat-card *ngFor="let experiencia of usuario.experiencias" class="experience-card">
      <p class="text-lg font-semibold">Empresa:</p>
      <p >{{ experiencia.empresa }}</p>

      <p class="text-lg font-semibold">Cargo:</p>
      <p >{{ experiencia.cargo }}</p>

      <p class="text-lg font-semibold">Fecha:</p>
      <p >{{ experiencia.fechaInicio }} - {{ experiencia.fechaFinalizacion }}</p>

      <p class="text-lg font-semibold">Descripción:</p>
      <p>{{ experiencia.descripcion }}</p>

      <button class="delete-button" (click)="borrarExperiencia(experiencia)">Borrar</button>
    </mat-card>
  </div>

  <button class="add-button" (click)="openAddExperienceDialog()">Agregar Experiencia</button>
</mat-card>
