<p>
  <mat-toolbar color="primary" style="font-family: 'Poppins', sans-serif;">
    <span style="margin: 0 10px;">PRACTIFINDER</span>
    <div>
      <button mat-button style="text-decoration: none; margin: 0 10px;" >INICIO</button>
      <button mat-button style="text-decoration: none; margin: 0 10px;" class="fond-button" >NOSOTROS</button>
      <button mat-button style="text-decoration: none; margin: 0 10px;" class="fond-button" >SERVICIOS</button>
      <button mat-button style="text-decoration: none; margin: 0 10px;" class="fond-button" >CONTACTO</button>
      <button mat-button style="text-decoration: none; margin: 0 10px;" class="fond-button" >INICIA SESION</button>
    </div>
  </mat-toolbar>
</p>
