<p>
  <mat-toolbar color="primary" style="font-family: 'Poppins', sans-serif;">
    <span style="margin: 0 10px;">PRACTIFINDER</span>
    <div>
      <a mat-button href="https://practifinder-upc.netlify.app/" target="_blank" style="text-decoration: none; margin: 0 10px;" >INICIO</a>
      <a mat-button href="https://practifinder-upc.netlify.app/about" target="_blank" style="text-decoration: none; margin: 0 10px;" class="fond-button" >NOSOTROS</a>
      <a mat-button href="https://practifinder-upc.netlify.app/service" target="_blank" style="text-decoration: none; margin: 0 10px;" class="fond-button" >SERVICIOS</a>
      <a mat-button href="https://practifinder-upc.netlify.app/contact" target="_blank" style="text-decoration: none; margin: 0 10px;" class="fond-button" >CONTACTO</a>
      <button mat-button style="text-decoration: none; margin: 0 10px;" class="fond-button" >INICIA SESION</button>
    </div>
  </mat-toolbar>
</p>
