.SingUp-card{
  width: 50vh;
  height: 85vh;
  margin:auto;
  margin-top: 1%;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background-color: #FEB543;  }

.SingUp-form{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
}

.boton{
  background-color:black;
}
