<mat-card class="SingUp-card">
  <div class="SingUp-form">
    <mat-card-content>Sign Up</mat-card-content>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="user.name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input matInput [(ngModel)]="user.mail">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput [(ngModel)]="user.username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="user.password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repetir contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="repeatPassword">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rol (practicante o empresa)</mat-label>
      <mat-select [(ngModel)]="user.rolID">
        <mat-option value="1">Practicante</mat-option>
        <mat-option value="2">Empresa</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" class="boton" (click)="saveUserData()">Guardar</button>
  </div>
</mat-card>
