<mat-card class="SingUp-card">
  <div class="SingUp-form">
    <mat-card-content>Sign Up</mat-card-content>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="user.name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input matInput [(ngModel)]="user.email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput [(ngModel)]="user.username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="user.password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repetir contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="repeatPassword">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rol (practicante o empresa)</mat-label>
      <mat-select [(ngModel)]="user.rolId">
        <mat-option value="1">Practicante</mat-option>
        <mat-option value="2">Empresa</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" class="boton" (click)="saveUserData()">Registrarse</button>
    <div class="flex justify-center" *ngIf="passwordMismatch">
      Las contraseñas no coinciden. Por favor, inténtalo de nuevo.
    </div>

    <div *ngIf="noPermissionMessage" class="no-permission-message">
      El usuario ya existe.
    </div>

    <!-- Mensaje de éxito cuando se crea el usuario -->
    <div class="pt-2"  *ngIf="registrationSuccess">
      <h1 class="flex justify-center">¡Usuario creado con éxito!</h1>

    </div>
    <div class="pt-2 flex justify-center">
      <button mat-flat-button color="primary" class="boton" (click)="showLogin()">Ir a Login</button>
    </div>


  </div>

</mat-card>
