<mat-toolbar *ngIf="!mostrarToolbar" color="primary" style="font-family: 'Poppins', sans-serif;">
  <h1 style="padding-right: 20px;"><b>PRACTIFINDERA</b></h1>
  <div *ngIf="!barStudent">
  <a mat-button *ngFor="let option of options"
     [routerLink]="option.path" style="text-decoration: none;">{{option.title}}</a>
  </div>
  <div *ngIf="barStudent">
    <a mat-button *ngFor="let option2 of optionsEmployer"
       [routerLink]="option2.path" style="text-decoration: none;">{{option2.title}}</a>
  </div>
  <div style="margin-right: auto;"></div>
  <a mat-button *ngFor="let option of boottons"
     [routerLink]="option.path"><mat-icon style="font-size: 120%;">{{option.title}}</mat-icon></a>
</mat-toolbar>


<app-navbar *ngIf="mostrarToolbar" ></app-navbar>

<div class="background-container">
  <router-outlet></router-outlet>
</div>
