<mat-card class="login-card">
  <div class="login-form">
    <mat-card-content>Login</mat-card-content>
    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput>
    </mat-form-field>

    <a routerLink="/app-remember-password">Recuperar contraseña</a>

    <button (click)="cambiarVisibilidadToolbar(false); irAHome()" mat-flat-button color="primary" class="boton"> Ingresar </button>
    <button mat-flat-button color="primary" class="boton" (click)="showSignup()">Registrarse</button>
  </div>

</mat-card>



