<mat-card class="cd-custom">
  <div class="p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <p class="text-lg font-semibold">Habilidades Técnicas:</p>
        <div class="card-container">
          <div class="card" *ngFor="let habilidad of usuario.habilidadesTecnicas; let i = index">
            <p>{{ habilidad }}</p>
            <button (click)="eliminarHabilidad('tecnica', i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <button (click)="openAddSkillDialog('tecnica')">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <div>
        <p class="text-lg font-semibold">Habilidades Interpersonales:</p>
        <div class="card-container">
          <div class="card" *ngFor="let habilidad of usuario.habilidadesInterpersonales; let i = index">
            <p>{{ habilidad }}</p>
            <button (click)="eliminarHabilidad('interpersonal', i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <button (click)="openAddSkillDialog('interpersonal')">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </div>
</mat-card>
