<mat-card class="cd-custom">
  <div class="p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <p class="text-lg font-semibold">Nombre:</p>
        <p class="text-lg">{{usuario.nombre}}</p>
      </div>
      <div>
        <p class="text-lg font-semibold">Edad:</p>
        <p class="text-lg">{{usuario.edad}}</p>
      </div>
    </div>
    <div class="mt-6">
      <p class="text-lg font-semibold">Correo Electrónico:</p>
      <p class="text-lg">{{usuario.correo}}</p>
    </div>
    <div class="mt-6">
      <p class="text-lg font-semibold">Teléfono:</p>
      <p class="text-lg">{{usuario.telefono}}</p>
    </div>
    <div class="mt-6">
      <p class="text-lg font-semibold">Dirección:</p>
      <p class="text-lg">{{usuario.direccion}}</p>
    </div>
  </div>
</mat-card>
