<div style="font-family: 'Poppins', sans-serif;display: flex; justify-content: center; align-items: center; margin-top: 70px;">
  <span>
    <input class="filtrado p-inputtext" [(ngModel)]="filters.global.value" placeholder="INGRESE SU BUSQUEDA..."/>
  </span>
</div>

<div class="button-container" style="font-family: 'Poppins', sans-serif;display: flex; justify-content: center; align-items: center; margin: 20px 0px -100px 0px">
  <button class="filtros-button" mat-button (click)="onAREA()">AREA</button>
  <button class="filtros-button" mat-button (click)="onUBICACION()">UBICACION</button>
  <button class="filtros-button" mat-button (click)="onSALARIO()">SALARIO</button>
  <button class="filtros-button" mat-button (click)="onEMPRESA()">EMPRESA</button>
</div>

<br>
<br>
<div class="card-container" style="font-family: 'Poppins', sans-serif;" >
  <ng-container *ngFor="let data of ofertas">
  <mat-card *ngIf="matchesFilter(data.Area,data.Ubicacion,data.Salario,data.Empresa)" class="card-item" style="text-align: left;" >
      <div style="flex: 7; display: flex; align-items: center; padding-bottom: 20px;">
        <div style="flex: 8; text-align: center;">
          <img [src]="data.UrlImage" alt="" style="width: 80%; height: auto;" />
        </div>
        <div style="flex: 2; text-align: center; height: 85%;">
          <mat-icon class="{{data.Status}}">work_outline</mat-icon>
        </div>
      </div>
      <div style="flex: 3;">
        {{ data.Empresa }} <br>
        Area: {{ data.Area }} <br>
        Ubicacion: {{ data.Ubicacion }}<br>
        Salario: {{ data.Salario }}
      </div>

  </mat-card>
  </ng-container>
</div>
