 <div>
    <ul class="information_table space-x-1">
      <li class="w-1/2">
        <ul class="button-list space-y-1 ">
          <li><button class="btn-custom" (click)="showInformation('personal')">Información Personal</button></li>
          <li><button class="btn-custom" (click)="showInformation('skills')">Conocimientos y Aptitudes</button></li>
          <li><button class="btn-custom" (click)="showInformation('courses')">Cursos</button></li>
          <li><button class="btn-custom" (click)="showInformation('experience')">Experiencia Laboral</button></li>
          <li><button class="btn-custom" (click)="showInformation('languages')">Idiomas</button></li>
          <li class="bg-custom-yellow h-full">
            <div class="bg-custom-yellow flex justify-center items-center p-5">
              <button class="cv-button ">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                <span>Descargar CV</span>
              </button>
            </div>
          </li>

        </ul>
      </li>

      <li class="w-full">
        <div *ngIf="showInfo.personal" class="w-full h-full">
          <mat-card class="cd-custom">

            <div class="p-6">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                  <p class="text-lg font-semibold">Nombre:</p>
                  <input  type="text" [(ngModel)]="usuario.nombre" (ngModelChange)="actualizarUsuario(usuario)">
                </div>
                <div>
                  <p class="text-lg font-semibold">Edad:</p>
                  <input  type="text" [(ngModel)]="usuario.edad" (ngModelChange)="actualizarUsuario(usuario)">
                </div>
              </div>
              <div class="mt-6">
                <p class="text-lg font-semibold">Correo Electrónico:</p>
                <input  type="text" [(ngModel)]="usuario.correo" (ngModelChange)="actualizarUsuario(usuario)">
              </div>
              <div class="mt-6">
                <p class="text-lg font-semibold">Teléfono:</p>
                <input  type="text" [(ngModel)]="usuario.telefono" (ngModelChange)="actualizarUsuario(usuario)">
              </div>
              <div class="mt-6">
                <p class="text-lg font-semibold">Dirección:</p>
                <input  type="text" [(ngModel)]="usuario.direccion" (ngModelChange)="actualizarUsuario(usuario)">
              </div>
              <!-- Puedes agregar más detalles de la información personal del usuario aquí -->
            </div>
          </mat-card>
        </div>

        <div *ngIf="showInfo.skills" class="w-full h-full">
          <mat-card class="cd-custom">
            <div class="p-6">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                  <p class="text-lg font-semibold">Habilidades Técnicas:</p>
                  <ul class="list-disc pl-6">
                    <li class="text-gray-800"
                        *ngFor="let habilidad of usuario.habilidades.tecnicas">{{ habilidad }}
                    </li>
                  </ul>
                </div>

                <div>
                  <p class="text-lg font-semibold">Habilidades Interpersonales:</p>
                  <ul class="list-disc pl-6">
                    <li class="text-gray-800"
                        *ngFor="let habilidad of usuario.habilidades.interpersonales">{{ habilidad }}
                    </li>
                  </ul>
                </div>

              </div>
              <div class="mt-6">
                <p class="text-lg font-semibold">Certificaciones:</p>
                <ul>
                  <li class="text-gray-800"
                      *ngFor="let certificacion of usuario.habilidades.certificaciones">{{ certificacion }}
                  </li>
                </ul>
              </div>

            </div>
          </mat-card>
        </div>


        <div *ngIf="showInfo.courses" class="w-full h-full">
          <mat-card class="cd-custom">
            <div class="p-6">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div *ngFor="let curso of usuario.curso">
                  <p class="text-lg font-semibold"> Curso: </p>
                  <p class="text-gray-800">{{ curso }}</p>
                </div>
              </div>
            </div>
          </mat-card>
        </div>


        <div *ngIf="showInfo.experience" class="w-full h-full">
          <mat-card class="cd-custom">
            <div class="p-6">
            <div class="mb-6" *ngFor="let experiencia of usuario.experiencias">
              <p class="text-lg font-semibold">Empresa:</p>
              <p class="text-gray-800"> {{ experiencia.empresa }}</p>

              <p class="text-lg font-semibold">Cargo:</p>
              <p class="text-gray-800"> {{ experiencia.cargo }}</p>

              <p class="text-lg font-semibold">Fecha:</p>
              <p class="text-gray-800">{{ experiencia.fechaInicio }} - {{ experiencia.fechaFinalizacion }}</p>

              <p class="text-lg font-semibold">Descripcion:</p>
              <p class="text-gray-800">{{ experiencia.descripcion }}</p>
            </div>
          </div>
          </mat-card>
        </div>


        <div *ngIf="showInfo.languages" class="content h-full">
          <mat-card class="cd-custom ">
            <div class="p-6">
              <div class="mb-6" *ngFor="let idioma of usuario.idiomas">
                <div class="flag flag-en"></div>
                <p class="text-lg font-semibold">{{ idioma.idioma }}</p>
                <p class="text-gray-800">Nivel: {{ idioma.nivel }}</p>
              </div>
            </div>
          </mat-card>
        </div>


      </li>
    </ul>

  </div>



