 <div>
    <ul class="information_table space-x-1">
      <li class="w-1/2">
        <ul class="button-list space-y-1 ">
          <li><button class="btn-custom" (click)="showInformation('personal')">Información Personal</button></li>
          <li><button class="btn-custom" (click)="showInformation('skills')">Conocimientos y Aptitudes</button></li>
          <li><button class="btn-custom" (click)="showInformation('courses')">Cursos</button></li>
          <li><button class="btn-custom" (click)="showInformation('experience')">Experiencia Laboral</button></li>
          <li><button class="btn-custom" (click)="showInformation('languages')">Idiomas</button></li>
          <li class="bg-custom-yellow h-full">
            <div class="bg-custom-yellow flex justify-center items-center p-5">
              <button class="cv-button" (click)="descargarCV()">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/>
                </svg>
                <span>Descargar CV</span>
              </button>
            </div>
          </li>
        </ul>
      </li>

      <li class="w-full">
        <div *ngIf="showInfo.personal" class="w-full h-full">
          <app-personal-info [usuario]="usuario"/>
        </div>

        <div *ngIf="showInfo.skills" class="w-full h-full">
          <app-skill-info [usuario]="usuario"
                         (actualizarUsuarioEvent)="actualizarUsuario($event)"/>
        </div>


        <div *ngIf="showInfo.courses" class="w-full h-full">
          <app-certification-info [usuario]="usuario"
                                  (actualizarUsuarioEvent)="actualizarUsuario($event)"/>
        </div>

        <div *ngIf="showInfo.experience" class="w-full h-full">
          <app-experience-info [usuario]="usuario" />
        </div>


        <div *ngIf="showInfo.languages" class="content h-full">
          <app-languages-info [usuario]="usuario"/>
        </div>


      </li>
    </ul>

  </div>



